html {
    height: 100%;
}

body {
    margin: 0 auto;
    background-image: url(../images/prism/prism.png);
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#staysTop {
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
}

header {
    width: 960px;
    margin: 0 auto;
}

h1 {
    float: left;
    padding: 15px;
    background: #4aaaa5;
    color: #ffffff;
    margin: 0;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

nav {
    float: right;
}

li {
    display: inline;
    margin-left: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.border {
    border-right: 0.5px solid #cccccc;
}

#staysTop::after {
    display: block;
    content: "";
    clear: both;
}

img {
    width: 200px;
    height: 150px;
}

.imgTable {
    background: #ffffff;
    margin: 20px auto;
    padding: 15px;
    width: 940px;
    flex: 1 0 auto;
    border: 1px solid #dddddd;
}

#container {
    background: #ffffff;
    width: 930px;
    margin: 20px auto;
    padding: 15px;
    flex: 1 0 auto;
    border: 1px solid #dddddd;
}

h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.myPhoto {
    padding-right: 10px;
    float: left;
}

p {
    padding: 15px;
    text-align: left;
}

.myForm {
    text-align: left;
}

input {
    width: 920px;
}

textarea {
    width: 920px;
}

.submit {
    width: 80px;
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
}

.spacing {
    padding: 10px 0px 10px 0px;
}

footer {
    background: #666666;
    border-top: #4aaaa5 8px solid;
    padding-top: 20px;
    flex-shrink: 0;
    color: #ffffff;
}

.clear {
    clear: both;
}

a {
    color: #4aaaa5;
}

input {
    color: #777777;
}

.flex {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 50%;
}

.projectDiv {
    position: relative;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;

}

.projectText {
    position: absolute;
    bottom: 0;
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

/* Media Queries Below */

@media screen and (max-width: 980px) { 
    #container {
        width: 630px;
        margin: 20px;
    }

    .imgTable {
        width: 630px;
        margin: 20px;
    }

    input,
    textarea {
        width: 620px;
    }

    .flex {
        width: 80%;
    }

    header {
        width: 910px;
        margin: 20px auto;
    }

} 


@media screen and (max-width: 768px) {
    #container {
        width: 630px;
        margin: 20px;
    }

    header {
        width: 660px;
    }

    .flex {
        width: 80%;
    }

}


@media screen and (max-width: 640px) {
    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        width: 280px;
        margin: 20px;
    }

    .imgTable {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        width: 280px;
        margin: 20px;
    }

    img {
        width: 100%;
    }

    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .flex {
      width: 100%;
    }

    .myPhoto {
        width: 100%;
        margin-bottom: 15px;
    }

    input,
    textarea {
        width: 280px;
    }

}
